{% extends 'base_email.html' %}
{% load bracket_extras %}

{% block content %}
Hi {{first_name}},<br>
Thanks for registering for the NCAA Spreapool 2022!<br>
<br>
To confirm your entry, you registered with the following info:<br>
Name: <strong>{{full_name}}</strong><br>
Number of Entries: <strong>{{num_entries}}</strong><br>
{% if mult_entry_type == "S" and num_entries > 1 %}
Your {{num_entries}} entries will be assigned to the <strong>Same</strong> bracket.<br>
{% endif %}
{% if mult_entry_type == "D" and num_entries > 1 %}
Your {{num_entries}} entries will be assigned to <strong>Different</strong> brackets.<br>
{% endif %}
<br>
<p>Thanks for registering!  You have until {% settings_value "REGISTRATION_DEADLINE_FRIENDLY" %} to make any changes 
needed to your Registration settings. These include: the # of brackets, whether you want them in the Same or 
Different brackets, your registered First & Last name, and your email address. If you decide you don't want to participate, you can 
<a href="https://www.ncaaspreadpool.com/profile" style="color: #0000ff;"><font color="#0000ff">Login</font></a> again and Delete your profile.
</p>
<p>
Shortly after the registration period closes, you will receive an email with your team assignments.  You'll get 4 teams, one per 
Region, assigned for each entry that you registered. Payment ($20/entry) will be owed once your teams are assigned. Then on each 
day during the Tournament , you will receive an email with the Spread and game date/time (ET) for each of your teams.
</p>
<p>
If you have any questions about how this all works, don't hesitate to reach out to me (paulrmaurer@yahoo.com) with any questions.
</p>
<p>
Regards,<br>
Paul<br>
Spreadpool Administrator
</p>

{% endblock %}