<!--create-brackets.component.html-->
<br>
<h6><strong>Add Bracket</strong></h6>
<div class="container">
	<div class = "row">
		<div class = "col">
			<form [formGroup]="bracketAddForm" (ngSubmit)="addBracket(bracketAddForm.value)">
				<div class="container">
					<div class="form-row">
						<div class="form-group col-md-6">
							<!-- <label for="bracket_name">Bracket</label> -->
						    <input type="text" class="form-control" placeholder="Type bracket name.." 
						    id="bracket_name" [formControl] = "bracket_name">
						</div>
						<div class="col-md-6">
							<button type="submit" id="submit" class="btn btn-success" 
							[disabled]="!bracketAddForm.valid">Add Bracket</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class = "col">
			<span *ngIf="showEntriesMsg" class="text-success">{{ entriesMsg }}</span>
			<button class="btn btn-dark" (click)="openEntriesModal(entries_template)">Delete/Create All Entries</button>
			&nbsp;
		</div>
	</div>
</div>

<br>
<div class = "d-flex flex-row">
	<div class = "p-2">
		<h6><strong>Brackets</strong></h6>
	</div>
	<div class = "p-2">
		<a [routerLink]="[]" (click)="resetList()">refresh</a>
	</div>
</div>

<table class="table table-sm">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col" style="width: 10%">Num Entries</th>
			<th scope="col" style="width: 10%">Id</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor = "let tbracket of _tbracketList; let i = index">
			<th scope="row" class="align-middle">{{i + 1}}</th>
			<td class="align-middle">{{ tbracket.name }}</td>
			<td class="align-middle">{{ tbracket.entry_count}}</td>
			<td class="align-middle">{{ tbracket.id }}</td>
			<td>
				<button class="btn btn-danger custom" (click)="openDeleteModal(tbracket.id, tbracket.name)">Delete</button>
				&nbsp;
				<button class="btn btn-warning" (click)="openReassignModal(tbracket.id, tbracket.name)">(Re)Assign</button>
				&nbsp;
				<button class="btn btn-info custom" (click)="openResetModal(tbracket.id, tbracket.name)">Reset</button>
				&nbsp;
				<button class="btn btn-success" (click)="navToAssign(tbracket.id)">Assign Entries</button>
			</td>
		</tr>
	</tbody>
</table>

<!-- Template modal that gets displayed when user clicks on Delete/Create All Entries -->
<ng-template #entries_template>
  <div class="modal-body text-center">
    <h6><small>You are about to delete all existing Bracket Entry assignments and create new Entries based on currently registered Users. This will unassign all Entries from Brackets. Would you like to proceed?</small></h6>
    <button type="button" class="btn btn-light" (click)="confirmDeleteEntries()" >Yes, Proceed</button>
    <button type="button" class="btn btn-primary" (click)="declineDeleteEntries()" >No, Go Back</button>
  </div>
</ng-template>