
<div class="modal-header">
      <h4 class="modal-title pull-left">Confirm Bracket Reset</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="confirmResetModalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
  <h6>Are you sure you want to Reset the <strong>{{ tbracket_name }}</strong> bracket? This will set all active teams = original teams, reset all Round 1 matchups, and clear out Round 2-6 matchups for this bracket.</h6>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-info" (click)="confirmResetModalRef.hide(); resetBracket(tbracket_id, tbracket_name)">Reset</button>
</div>