 /*./bracket/static/bracket/site.css*/

@import './bootstrap-4.2.1-dist/css/bootstrap.css';
@import './fontawesome-free-5.7.2-web/css/all.css';

/*For applying a custom width to buttons*/
.custom {
    width: 150px !important;
}

/*To decrease height of bottom navbar*/
.navbar.footer {
  min-height:12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/*And center the text height wise*/
.navbar-text.footer {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-text {
	font-size: 10px;
}

/*login.html css*/
.reg-block li {
	padding-bottom: 10px;
}

.reg-headline {
	color: rgb(255, 128, 64);
}

.fine-print {
	line-height: 12px;
	font-size: 10px;
}