<!--src/app/ui/header/header.component.html-->

<!-- Navigation Menu for site -->

<nav class="navbar center navbar-expand-md navbar-dark bg-primary">
	<div class="container-fluid">
		<!-- <a class="navbar-brand" [routerLink]="['/home']">Spreadpool</a> -->
		<a class="navbar-brand" [routerLink]="['/home']">
			<img src="../static/front-end/assets/spreadpool_white_no_background_48x114.png" alt="Spreadpool">
		</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse"
			data-target="#navbar" aria-controls="navbar" aria-expanded="false"
			aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
			<span class="navbar-toggler-icon"></span>
			</button>
		<div class="collapse navbar-collapse" id="navbar" [collapse]="isCollapsed">
	        <ul class="navbar-nav mr-auto">
	        	<li class="nav-item" [routerLinkActive]="['active']">
	            	<a class="nav-link" [routerLink]="['/home']">Home</a>
	            </li>
	            <li class="nav-item" [routerLinkActive]="['active']">
	            	<a class="nav-link" [routerLink]="['/profile']">My Teams</a>
	            </li>
	            <li class="nav-item" [class.active]="isActive(['/brackets'])" *ngIf = "_bracketToShow">
	            	<a *ngIf="_bracketToShow" class="nav-link" [routerLink]="['/brackets', _bracketToShow]">Brackets</a>
	            </li>

	            <li class="nav-item dropdown" dropdown *ngIf="isUserAdmin()">
<!-- 	            	<span dropdown (onShown)="onShown()" (onHidden)="onHidden()" 
	            	(isOpenChange)="isOpenChange()"> -->
				        <a class="nav-link dropdown-toggle" dropdownToggle (click)="false" 
				        href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          Admin
				        </a>
			        <div class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" [routerLink]="['/admin/c-brackets']">Create Brackets</a>
			          <a class="dropdown-item" [routerLink]="['/admin/a-brackets', _bracketToShow]">Assign Entries</a>
			          <a class="dropdown-item" [routerLink]="['/admin/u-games']">Update Games</a>
			        </div>
				</li>
	        </ul>
	        <a *ngIf="currentUser" class="navbar-text" [routerLink]="['/profile']">{{ currentUser.email }}</a>
	        <form class="form-inline">
		    	<button type="button" class="btn btn-outline-light" (click)="logout()">Log Out</button>
		  	</form>
	  	</div> <!--/.navbar-collapse -->
  	</div> <!-- /.container-fluid -->
</nav>
