<!-- bracket/templates/bracket/profile_edit.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Edit Profile</h2>
<form method="POST">
  {% csrf_token %}
  {% if form.num_entries.errors %}
    <font color="red">{{ form.num_entries.errors }}</font>
  {% endif %}
  {{ form.as_p }}
<button type="submit" value="Submit">Save</button>
{% endblock %}

{% block profile %}
{% comment %}
Modify profile block from base.html slightly
with button that says, 'Back to Profile' in case
user wants to leave Edit mode
{% endcomment %}
<form action = "{% url 'bracket:profile' user.id %}">
  <button type="submit">Back to Profile</button>
</form>
{% endblock %}