<!-- bracket/templates/bracket/profile_edit.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Edit Profile</h2>
<form method="POST">
  {% csrf_token %}
  {% if form.num_entries.errors %}
    <font color="red">{{ form.num_entries.errors }}</font>
  {% endif %}
  {{ form.as_p }}
<button type="submit" value="Submit">Save</button>
</form>

{% endblock %}

{% block profile %}
{% comment %}
Don't show link to Profile in this view by calling profile block
from base.html and overriding with nothing within block
{% endcomment %}


{% endblock %}