<!--bracketff-detail.component.html-->
<!-- <br>
<h6 class="text-muted text-center">Final Four Bracket</h6> -->

<main id="tournament" *ngIf="_bracketGames  && _bracketOwners">
	<!-- Final Four games -->
	<ul class="round round-5">
		<ng-template ngFor let-game [ngForOf]="_r5_game_numbers">
			<li class="spacer">&nbsp;</li>
			<li class="game game-top">{{ _bracketGames[game].team1 || ' '}}
				<ng-container *ngIf="_bracketOwners[game].team1_owner">
					({{ _bracketOwners[game].team1_owner }})
				</ng-container>

				<span [class.filler]="!getTeam1Result(_bracketGames[game])">
					{{ getTeam1Result(_bracketGames[game]) }}
				</span>
			</li>
			<li class="game game-spacer">&nbsp;</li>
			<li class="game game-bottom ">{{ _bracketGames[game].team2 || ' '}}
				<ng-container *ngIf="_bracketOwners[game].team2_owner">
					({{ _bracketOwners[game].team2_owner }})
				</ng-container>

				<span [class.filler]="!getTeam2Result(_bracketGames[game])">
					{{ getTeam2Result(_bracketGames[game]) }}
				</span>
			</li>
		</ng-template>
		<li class="spacer">&nbsp;</li>
	</ul>
	<!-- Final game -->
	<ul class="round round-6">
		<ng-template ngFor let-game [ngForOf]="_r6_game_numbers">
			<li class="spacer">&nbsp;</li>
			<li class="game game-top">{{ _bracketGames[game].team1 || ' '}}
				<ng-container *ngIf="_bracketOwners[game].team1_owner">
					({{ _bracketOwners[game].team1_owner }})
				</ng-container>
				<span [class.filler]="!getTeam1Result(_bracketGames[game])">
					{{ getTeam1Result(_bracketGames[game]) }}
				</span>
			</li>
			<li class="game game-spacer">&nbsp;</li>
			<li class="game game-bottom ">{{ _bracketGames[game].team2 || ' '}}
				<ng-container *ngIf="_bracketOwners[game].team2_owner">
					({{ _bracketOwners[game].team2_owner }})
				</ng-container>
				<span [class.filler]="!getTeam2Result(_bracketGames[game])">
					{{ getTeam2Result(_bracketGames[game]) }}
				</span>
			</li>
		</ng-template>
		<li class="spacer">&nbsp;</li>
	</ul>
	<!-- Champion -->
	<!-- <ul class="round round-7" *ngIf="getChampion() && _bracketOwners[63].team1_owner[0].winner && _winningTeamOwner"> -->
	<ul class="round round-7" *ngIf="getChampion()">
		<strong>&nbsp;&nbsp;***CHAMPION***</strong>
		<div *ngIf="_bracketGames[63].team1_score > _bracketGames[63].team2_score">
			<!-- <strong>Team1 is Champion</strong> -->
			<strong>&nbsp;{{_champion}} ({{_winningTeamOwner.team1_owner}})</strong>
		</div>
		<div *ngIf="_bracketGames[63].team1_score < _bracketGames[63].team2_score">
			<!-- <strong>Team2 is Champion</strong> -->
			<strong>&nbsp;{{_champion}} ({{_winningTeamOwner.team2_owner}})</strong>
		</div>
	</ul>
</main>