<!--bracket-detail_container-attempt.component.html-->

<section id="bracket">
  <div class="container">
  <div class="split split-one">
    <div class="round round-one current">
      <div class="round-details">Round 1<br/><span class="date">March 16</span></div>
      <ul class="matchup">
        <app-bracket-game *ngFor="let game_num of _r1_game_numbers" 
        [game]="_bracketGames[game_num+getRgRdIncr(1)]" [bracket_id]="_bracket.id">
        </app-bracket-game>
      </ul>
    </div> <!-- END ROUND ONE -->
    <div class="round round-two">
      <div class="round-details">Round 2<br/><span class="date">March 18</span></div>     
      <ul class="matchup">
        <app-bracket-game *ngFor="let game_num of _r2_game_numbers" 
        [game]="_bracketGames[game_num+getRgRdIncr(2)]" [bracket_id]="_bracket.id">
        </app-bracket-game>
      </ul>
    </div> <!-- END ROUND TWO -->
    <div class="round round-three">
      <div class="round-details">Round 3<br/><span class="date">March 22</span></div>     
      <ul class="matchup">
        <app-bracket-game *ngFor="let game_num of _r3_game_numbers" 
        [game]="_bracketGames[game_num+getRgRdIncr(3)]" [bracket_id]="_bracket.id">
        </app-bracket-game>
      </ul>
    </div> <!-- END ROUND THREE -->
  </div>
</div>
</section>