<!--bracket-detail.component.html-->
<!-- <br>
<h6 class="text-muted text-center">{{ _region }} Region Bracket</h6> -->

<main id="tournament" *ngIf="_bracketGames && _bracketOwners">
	<!-- First round games -->
	<ul class="round round-1">
		<ng-template ngFor let-game [ngForOf]="_r1_game_numbers">
			<li class="spacer">&nbsp;</li>
			<li class="game game-top"
			[ngClass]="{'text-light bg-secondary':_userService.id == _bracketOwners[game+getRgRdIncr(1)].team1_owner[0].team1_owner_id}">
				{{ _bracketGames[game+getRgRdIncr(1)].team1}}

				<ng-container *ngIf="_bracketOwners[game+getRgRdIncr(1)].team1_owner[0].team1_owner">
					({{ _bracketOwners[game+getRgRdIncr(1)].team1_owner[0].team1_owner }})
				</ng-container>
				
				<span>{{ getTeam1Result(_bracketGames[game+getRgRdIncr(1)]) }}</span>
			</li>
			<li class="game game-spacer">&nbsp;</li>
			<li class="game game-bottom"
			[ngClass]="{'text-light bg-secondary':_userService.id == _bracketOwners[game+getRgRdIncr(1)].team2_owner[0].team2_owner_id}">
				{{ _bracketGames[game+getRgRdIncr(1)].team2}}
				
				<ng-container *ngIf="_bracketOwners[game+getRgRdIncr(1)].team2_owner[0].team2_owner">
					({{ _bracketOwners[game+getRgRdIncr(1)].team2_owner[0].team2_owner }})
				</ng-container>

				<span>{{ getTeam2Result(_bracketGames[game+getRgRdIncr(1)]) }}</span>
			</li>
		</ng-template>
		<li class="spacer">&nbsp;</li>
	</ul>
	<!-- Second round games -->
	<ul class="round round-2">
		<ng-template ngFor let-game [ngForOf]="_r2_game_numbers">
			<li class="spacer">&nbsp;</li>
			<li class="game game-top"
			[ngClass]="{'text-light bg-secondary':_userService.id == _bracketOwners[game+getRgRdIncr(1)].team1_owner[0].team1_owner_id}">
				{{ _bracketGames[game+getRgRdIncr(2)].team1}}
				<ng-container *ngIf="_bracketOwners[game+getRgRdIncr(2)].team1_owner[0].team1_owner">
					({{ _bracketOwners[game+getRgRdIncr(2)].team1_owner[0].team1_owner }})
				</ng-container>
				<span [class.filler]="!getTeam1Result(_bracketGames[game+getRgRdIncr(2)])">
					{{ getTeam1Result(_bracketGames[game+getRgRdIncr(2)])}}
				</span>
			</li>
			<li class="game game-spacer">&nbsp;</li>
			<li class="game game-bottom"
			[ngClass]="{'text-light bg-secondary':_userService.id == _bracketOwners[game+getRgRdIncr(1)].team2_owner[0].team2_owner_id}">
				{{ _bracketGames[game+getRgRdIncr(2)].team2}}
				<ng-container *ngIf="_bracketOwners[game+getRgRdIncr(2)].team2_owner[0].team2_owner">
					({{ _bracketOwners[game+getRgRdIncr(2)].team2_owner[0].team2_owner }})
				</ng-container>
				<span [class.filler]="!getTeam2Result(_bracketGames[game+getRgRdIncr(2)])">
					{{ getTeam2Result(_bracketGames[game+getRgRdIncr(2)])}}
				</span>
			</li>
		</ng-template>
		<li class="spacer">&nbsp;</li>
	</ul>
	<!-- Third round games -->
	<ul class="round round-3">
		<ng-template ngFor let-game [ngForOf]="_r3_game_numbers">
			<li class="spacer">&nbsp;</li>
			<li class="game game-top"
			[ngClass]="{'text-light bg-secondary':_userService.id == _bracketOwners[game+getRgRdIncr(1)].team1_owner[0].team1_owner_id}">
				{{ _bracketGames[game+getRgRdIncr(3)].team1}}
				<ng-container *ngIf="_bracketOwners[game+getRgRdIncr(3)].team1_owner[0].team1_owner">
					({{ _bracketOwners[game+getRgRdIncr(3)].team1_owner[0].team1_owner }})
				</ng-container>
				<span [class.filler]="!getTeam1Result(_bracketGames[game+getRgRdIncr(3)])">
					{{ getTeam1Result(_bracketGames[game+getRgRdIncr(3)])}}
				</span>
			</li>
			<li class="game game-spacer">&nbsp;</li>
			<li class="game game-bottom"
			[ngClass]="{'text-light bg-secondary':_userService.id == _bracketOwners[game+getRgRdIncr(1)].team2_owner[0].team2_owner_id}">
				{{ _bracketGames[game+getRgRdIncr(3)].team2}}
				<ng-container *ngIf="_bracketOwners[game+getRgRdIncr(3)].team2_owner[0].team2_owner">
					({{ _bracketOwners[game+getRgRdIncr(3)].team2_owner[0].team2_owner }})
				</ng-container>
				<span [class.filler]="!getTeam2Result(_bracketGames[game+getRgRdIncr(3)])">
					{{ getTeam2Result(_bracketGames[game+getRgRdIncr(3)])}}
				</span>
			</li>
		</ng-template>
		<li class="spacer">&nbsp;</li>
	</ul>
	<!-- Fourth round games -->
	<ul class="round round-4">
		<ng-template ngFor let-game [ngForOf]="_r4_game_numbers">
			<li class="spacer">&nbsp;</li>
			<li class="game game-top"
			[ngClass]="{'text-light bg-secondary':_userService.id == _bracketOwners[game+getRgRdIncr(1)].team1_owner[0].team1_owner_id}">
				{{ _bracketGames[game+getRgRdIncr(4)].team1}}
				<ng-container *ngIf="_bracketOwners[game+getRgRdIncr(4)].team1_owner[0].team1_owner">
					({{ _bracketOwners[game+getRgRdIncr(4)].team1_owner[0].team1_owner }})
				</ng-container>
				<span [class.filler]="!getTeam1Result(_bracketGames[game+getRgRdIncr(4)])">
					{{ getTeam1Result(_bracketGames[game+getRgRdIncr(4)])}}
				</span>
			</li>
			<li class="game game-spacer">&nbsp;</li>
			<li class="game game-bottom"
			[ngClass]="{'text-light bg-secondary':_userService.id == _bracketOwners[game+getRgRdIncr(1)].team2_owner[0].team2_owner_id}">
				{{ _bracketGames[game+getRgRdIncr(4)].team2}}
				<ng-container *ngIf="_bracketOwners[game+getRgRdIncr(4)].team2_owner[0].team2_owner">
					({{ _bracketOwners[game+getRgRdIncr(4)].team2_owner[0].team2_owner }})
				</ng-container>
				<span [class.filler]="!getTeam2Result(_bracketGames[game+getRgRdIncr(4)])">
					{{ getTeam2Result(_bracketGames[game+getRgRdIncr(4)])}}
				</span>
			</li>
		</ng-template>
		<li class="spacer">&nbsp;</li>
	</ul>		
</main>