<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
<div class = "row">
	<div class = "col-12 col-md text-center reg-block"
	style = "background-image: url({% static 'images/spreadpool_25opacity_bk4.png' %}); 
	background-size: 100% auto; background-repeat: no-repeat;">
		<h4 class="reg-headline">Register for the Spreadpool today!</h4>
		<br>
		<div class = "row">
			<div class = "col"></div>
			<div class = "col-12 col-md-10">
				<h6><small class="text-muted">Play a unique bracket pool that will appeal to your inner Vegas sports gambler without the hassle of picking 63 games</small></h6>
				<h5 class = "m-3">Here’s how it works:</h5>
				<ul class="h6 small text-left">
					<!-- <li>Click the <a href="{% url 'bracket:signup' %}">Register</a> button below to sign up ($20/entry, up to --> 
					<li>Click the Register button below to sign up ($20/entry, up to 4 entries can be split across brackets or kept in the same bracket).</li>
					<li>Each entry will be randomly assigned four 2019 NCAA Tournament teams, one from each Region.</li>
					<li>Depending on how your teams perform against the spread posted for each game, you may advance thru each round.</li>
					<li>If your team makes it to the Final Four, you are assured of breaking even. Player with champion wins $200. Runner up finalist wins $80.</li>
				</ul>
				<!-- <h5 class="pt-2"><small class="text-muted"><strong>Easy!</strong> <a href="{% url 'bracket:signup' %}">Register</a> before Thursday (March 21, 2019) at 8AM CST and get 4 teams assigned at random before the tournament starts.</small></h5> -->
				<h5 class="pt-2"><small class="text-muted">**** Registration is now closed ****</small></h5>
				<h6><em><small class="text-muted">Check back in here throughout the 2019 NCAA Tournament.</small></em></h6>
				<br>
			</div>
			<div class = "col"></div>
		</div>
<!-- 		<form action = "{% url 'bracket:signup' %}">
			<button class="btn btn-primary custom" type="submit">Register</button>
		</form> -->
		<br>
	</div>
	<div class = "col-12 col-md-4">
		<h4>Login here!</h4>
		<br>
		<form method="post">
			{% csrf_token %}
			<div class = "form-group">
				<label for="{{ form.username.id_for_label }}">Email address</label>
				<input type = "email" class="form-control" name="{{ form.username.html_name}}" id = "{{ form.username.id_for_label }}" placeholder="Enter email">
				<small class="form-text text-danger">{{ form.username.errors }}</small>
			</div>
			<div class = "form-group">
				<label for="{{ form.password.id_for_label }}">Password</label>
				<input type = "password" class="form-control" name="{{ form.password.html_name}}" id = "{{ form.password.id_for_label }}" placeholder="Enter password">
				<small class="form-text text-danger">{{ form.password.errors }}</small>
			</div>
			<button class="btn btn-success btn-block" type="submit">Login</button>
			<small class="form-text text-danger">{{ form.non_field_errors }}</small>
		</form>
		<a href = "{% url 'password_reset' %}">Reset Password</a>
	</div>
</div>
<br>
</div>

{% endblock %}