<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
<div class = "row">
	<div class = "col-12 col-md text-center reg-block"
	style = "background-image: url({% static 'images/spreadpool_25opacity_bk4.png' %}); 
	background-size: 100% auto; background-repeat: no-repeat;">
		<h4 class="reg-headline">Register for the 2022 Spreadpool today!</h4>
		<br>
		<div class = "row mb-1">
			<div class = "col d-none d-md-block"></div>
			<div class = "col-12 col-md-6 px-0">
				<h6><small class="text-success">Play a unique bracket pool that will appeal to your inner Vegas sports gambler without the hassle of picking 63 games</small></h6>
			</div>
			<div class = "col d-none d-md-block"></div>
		</div>
		<div class = "row mb-1">
			<div class = "col"></div>
			<div class = "col-12 col-md-10">
				{% comment %} <h6><small class="text-muted">Play a unique bracket pool that will appeal to your inner Vegas sports gambler without the hassle of picking 63 games</small></h6> {% endcomment %}
				<h5 class = "m-2">Here’s how it works:</h5>
				<ul class="h6 small text-left">
 					{% comment %} <li>Click the <a href="{% url 'bracket:signup' %}">Register</a> button below to sign up ($20/entry, up to 4 entries per person which can be split across brackets or kept in the same bracket).</li> {% endcomment %}
					<li>Register below to sign up ($20/entry, up to 4 entries per person which can be split across brackets or kept in the same bracket).</li>
					<li>Each entry will be randomly assigned four NCAA Tournament teams, one from each Region.</li>
					<li>Depending on how your teams perform against the spread posted for each game, you may advance thru each round.</li>
					<li>If your team makes it to the Final Four, you are assured of breaking even. Player with champion wins $200. Runner up finalist wins $80. Final Four participants win $20 (break-even).</li>
				</ul>
				<!-- UNCOMMENT THIS DURING REGISTRATION PERIOD -->
 				{% comment %} <h5 class="pt-2"><small class="text-muted"><strong>Easy!</strong> <a href="{% url 'bracket:signup' %}">Register</a> before Friday (March 17, 2022) at 9AM CST and get 4 teams assigned at random before the tournament starts.</small></h5> {% endcomment %}

        <h5 class="pt-2"><small class="text-muted">**** Registration will be opening soon...check back here later. ****</small></h5>

				<!-- UNCOMMENT THIS AFTER REGISTRATION PERIOD -->
 				{% comment %} <h5 class="pt-2"><small class="text-muted">**** Registration is now closed ****</small></h5>
				<h6><em><small class="text-muted">Check back in here next year for the 2023 NCAA Tournament.</small></em></h6>
				<br>
				<br>
				<br> {% endcomment %}

				<!-- UNCOMMENT THIS DURING REGISTRATION PERIOD -->
 				{% comment %} <form action = "{% url 'bracket:signup' %}">
					<button class="btn btn-primary custom" type="submit">Register</button>
				</form> {% endcomment %}
				
				<h6 class="mt-2 mb-1"><small class="text-muted">Registration period countdown. Don't be late!</small></h6>
				
				<!-- Display the countdown timer in an element -->
				<p id="timer" class="m-0 text-primary h2"></p>
				<div class = "d-flex flex-row">
					<div class = "col col-2-md text-center border border-primary text-primary rounded p-0 m-1">
						<p class="mb-0">Days</p>
						<h1 class="display-4 m-0" id="timer-days"></h1>
					</div>
					<div class = "col col-2-md text-center border border-primary text-primary rounded p-0 m-1">
						<p class="mb-0">Hours</p>
						<h1 class="display-4 m-0" id="timer-hours"></h1>
					</div>
					<div class = "col col-2-md text-center border border-primary text-primary rounded p-0 m-1">
						<p class="mb-0">Mins</p>
						<h1 class="display-4 m-0" id="timer-mins"></h1>
					</div>
					<div class = "col col-2-md text-center border border-primary text-primary rounded p-0 m-1">
						<p class="mb-0">Secs</p>
						<h1 class="display-4 m-0" id="timer-secs"></h1>
					</div>
				</div>
				<script>
					// Set the date we're counting down to (East Coast Time)
					var countDownDate = new Date("Mar 17, 2022 10:00:00").getTime();

					// Update the count down every 1 second
					var x = setInterval(function() {

					  // Get today's date and time
					  var now = new Date().getTime();

					  // Find the distance between now and the count down date
					  var distance = countDownDate - now;

					  // Time calculations for days, hours, minutes and seconds
					  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
					  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
					  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
					  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

					  // Display the result in the element with id="timer"
					  // document.getElementById("timer").innerHTML = days + "d " + hours + "h "
					  // + minutes + "m " + seconds + "s ";

					  // Display each time component in its own element
					  document.getElementById("timer-days").innerHTML = days;
					  document.getElementById("timer-hours").innerHTML = hours;
					  document.getElementById("timer-mins").innerHTML = minutes;
					  document.getElementById("timer-secs").innerHTML = seconds;

					  // If the count down is finished, write some text
					  if (distance < 0) {
					    clearInterval(x);
					    document.getElementById("timer").innerHTML = "SPREADPOOL TIME!";
					  }
					}, 1000);
				</script>
			</div>
			<div class = "col"></div>
		</div>
	</div>
	<div class = "col-12 col-md-4">
		<h4>Login here!</h4>
		<br>
		<form method="post">
			{% csrf_token %}
			<div class = "form-group">
				<label for="{{ form.username.id_for_label }}">Email address</label>
				<input type = "email" class="form-control" name="{{ form.username.html_name}}" id = "{{ form.username.id_for_label }}" placeholder="Enter email">
				<small class="form-text text-danger">{{ form.username.errors }}</small>
			</div>
			<div class = "form-group">
				<label for="{{ form.password.id_for_label }}">Password</label>
				<input type = "password" class="form-control" name="{{ form.password.html_name}}" id = "{{ form.password.id_for_label }}" placeholder="Enter password">
				<small class="form-text text-danger">{{ form.password.errors }}</small>
			</div>
			<button class="btn btn-success btn-block" type="submit">Login</button>
			<small class="form-text text-danger">{{ form.non_field_errors }}</small>
		</form>
		<a href = "{% url 'password_reset' %}">Reset Password</a>
	</div>
</div>
<br>
</div>

{% endblock %}