<!--roster.component.html-->
<h4>Registrants</h4>
<div [class.loader] = "loading">
<div class = "d-flex flex-row justify-content-around">
	<div class = "col d-none d-md-block"></div>
	<div class = "col col-3-md text-center bg-secondary text-white rounded py-2 mx-1">
		<p class="mb-0">People Registered</p>
		<h1 class="display-3 m-0">{{_numRegistrants}}</h1>
	</div>
	<div class = "col d-none d-md-block"></div>
	<div class = "col col-3-md text-center bg-secondary text-white rounded py-2 mx-1">
		<p class="mb-0">Number of Entries</p>
		<h1 class="display-3 m-0">{{_numEntries}}</h1>
	</div>
	<div class = "col d-none d-md-block"></div>
	<div class = "col col-2-md text-center bg-secondary text-white rounded py-2 mx-1">
		<p class="mb-0">Number of Brackets</p>
		<h1 class="display-4 m-0">{{_numBrackets}}</h1>
		<small class="m-0" *ngIf = "_numNeededEntries > 1">({{_numNeededEntries}} more entries for another!)</small>
		<small class="m-0" *ngIf = "_numNeededEntries == 1">({{_numNeededEntries}} more entry for another!)</small>
	</div>
	<div class = "col d-none d-md-block"></div>
</div>
<br>
<app-roster-textbox (changed)="filter($event)"></app-roster-textbox>
<br>
<br>
<table class="table table-sm">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col" (click)="sort('last_name')" class="cursor-pointer">Name
				<fa *ngIf="_property=='last_name' && _direction==1" name="caret-down"></fa>
				<fa *ngIf="_property=='last_name' && _direction==-1" name="caret-up"></fa>
			</th>
			<th scope="col" (click)="sort('num_entries')" class="cursor-pointer">Num Entries
				<fa *ngIf="_property=='num_entries' && _direction==1" name="caret-down"></fa>
				<fa *ngIf="_property=='num_entries' && _direction==-1" name="caret-up"></fa>
			</th>
			<th scope="col">(S)ame/(D)iff</th>
			<th scope="col" style="width: 5%">Edit</th>
		</tr>
	</thead>
	<tbody>
		<tr on-mouseover="hoveredIndex=_loggedInUser.id" on-mouseleave="hoveredIndex=null">
			<th scope="row">1</th>
			<td><strong>{{ _loggedInUser.full_name }}*</strong></td>
			<td><strong>{{ _loggedInUser.num_entries }}</strong></td>
			<td><strong>{{ _loggedInUser.num_entries == 1 ? '-' : _loggedInUser.mult_entry_type }}</strong></td>
			<td>
				<fa name="edit" *ngIf="hoveredIndex==_loggedInUser.id" class = "cursor-pointer" tooltip = "Edit Profile" (click)="openProfileModal()"></fa>				
			</td>
		</tr>
		<tr *ngFor = "let player of _filteredRoster; let i = index">
			<th scope="row">{{i + 2}}</th>
			<td>{{ player.full_name }}</td>
			<td>{{ player.num_entries }}</td>
			<td>{{ player.num_entries == 1 ? '-' : player.mult_entry_type }}</td>
			<td></td>
		</tr>
	</tbody>
</table>
<br>
</div>