  <!--profile-details.component.html-->

<div class = "container">
	<div class = "row justify-content-start">
		<div class = "col-sm-auto"><strong>Name:</strong></div>
		<div class = "col" class="text-muted">{{ _player.full_name }}</div>
	</div>
	<div class = "row justify-content-start">
		<div class = "col-sm-auto"><strong>Email:</strong></div>
		<div class = "col" class="text-muted">{{ _player.email }}</div>
	</div>
	<div class = "row justify-content-start">
		<div class = "col-sm-auto"><strong>Number of Entries:</strong></div>
		<div class = "col" class="text-muted">{{ _player.num_entries }}</div>
	</div>
	<div class = "row justify-content-start">
		<div class = "col-sm-auto"><strong>(S)ame or (D)ifferent Brackets:</strong></div>
		<div class = "col" class="text-muted" >{{ player.num_entries == 1 ? '-' : player.mult_entry_type }}</div>
	</div>
	<div class = "row justify-content-start">
		<div class = "col-sm-auto"><strong>Paid up?:</strong></div>
		<div class = "col" [ngClass] = "{'text-muted': player.paid, 'text-danger': !player.paid}">
			{{ player.paid ? 'YES - Thank you!' : 'Due($' + player.num_entries*20 + '.00)'  }}</div>
	</div>
	<div class = "row justify-content-start top10">
		<div class = "col-sm-auto">
			<button class="btn btn-secondary custom" (click)="openModal(template)">Delete</button>
		</div>
		<div class = "col-sm-auto">
			<button class="btn btn-primary custom" (click)="openProfileModal()">Edit</button>
		</div>
	</div>
</div>

<ng-template #template>
	<div class="modal-header">
		<h4 class="modal-title pull-left">Delete Profile</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		Are you sure you want to delete your Profile?
	</div>
	<div class="modal-footer">
			<button class="btn btn-secondary custom" 
			(click)="modalRef.hide(); delete()">Delete</button>
	</div>
</ng-template>