<!-- templates/base.html -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% load static %}
<script src="{% static 'bracket/jquery.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'bracket/site.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'bracket/primeicons.css' %}"> -->

{% block header %}
<title>Spreadpool</title>
<h1>Spreadpool Site</h1>
{% endblock %}

{% block scripts %}
{% endblock %}

</head>

<body>
{% block content %}
{% endblock %}

</body>

</html>