<!-- spreadpool/templates/base.html -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% load static %}
<script src="{% static 'bracket/jquery.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'bracket/site.css' %}">
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

{% block header %}
<!-- Header for Django template pages -->
<nav class="navbar center navbar-expand-md navbar-dark bg-primary">
	<div class="container-fluid">
		<a href="{% url 'bracket:home' %}">
			<img src="{% static 'images/spreadpool_white_no_background_60x143.png' %}" alt="Spreadpool">
		</a>
	</div>
</nav>
{% endblock %}

{% block scripts %}
{% endblock %}
</head>

<body>

<!-- <div class="container"> -->
{% block content %}
{% endblock %}
<!-- </div> -->

{% block footer %}
<!-- Footer for Django template pages -->
<br>
<nav class="navbar navbar-dark bg-primary fixed-bottom footer">
  <div class="navbar-expand m-auto navbar-text footer">
  	<i class = "fa fa-ban"></i> Exit Zero Technologies 2018-2020
  </div>
</nav>
{% endblock %}

</body>

</html>