<!-- spreadpool/templates/base_email.html -->
<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Game Update</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

{% load static %}

{% block header %}

{% endblock %}
</head>

<body style="margin: 0; padding: 0;">

<table width="600" cellpadding="0" cellspacing="0" align="center" style="border: 2px solid #0275d8; border-collapse: collapse;">
	<tr>
		<td align="center" bgcolor="#0275d8" style="padding: 20px 0 15px 0;">
			<a href="https://www.ncaaspreadpool.com">
			<img src="https://www.ncaaspreadpool.com{% static 'images/spreadpool_white_no_background_60x143.png' %}" alt="Spreadpool" style="display: block;">
			<!-- <img src="{{ request.site.name }}{% static 'images/spreadpool_white_no_background_60x143.png' %}" alt="Spreadpool"> -->
			</a>
		</td>
	</tr>
	<tr>
		<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px; font-family: Arial,sans-serif; font-size: 16px !important; line-height: 20px;">
			{% block content %}
			{% endblock %}
			<br>
			To see your full bracket, <a href="https://www.ncaaspreadpool.com/brackets/{{bracket_id}}" style="color: #000000;"><font color="#000000">click here</font></a> to go to your "Brackets" page.
		</td>
	</tr>
	<tr>
		<td align="center" bgcolor="#0275d8" style = "color: #ffffff; font-family: Arial, sans-serif; font-size: 10px; line-height: 12px; padding: 10px 0 10px 0;">
			This email was sent to <font color="#ffffff">{{target_email}}</font><br>
			To unsubscribe, click <a href="https://www.ncaaspreadpool.com" style="color: #ffffff;"><font color="#ffffff">here</font></a>, login and navigate to "My Teams"<br>
			&copy; Exit Zero Technologies 2018-2020
		</td>
	</tr>
</table>

{% block footer %}

{% endblock %}

</body>

</html>