<!--roster.component.html-->
<h4>My Teams</h4>
 
<!-- <div [class.loader] = "loading">
<div class="table-responsive" *ngIf="_entryList && _entryList.length">
	<div class = "table table-borderless table-sm" *ngFor = "let entry of _entryList" id="my-teams">
		<thead>
			<tr class="table-active">
				<th scope="col">Bracket</th>
				<th scope="col">Region</th>
				<th scope="col">Original Teams</th>
				<th scope="col">Active Team(s)</th>
				<th scope="col">Next Game</th>
			</tr>
		</thead>
		<tbody *ngIf="_regionList">
			<tr>
				<td class="text-primary text-pointer" (click)="sendToBracket(entry.tbracket_id)"><strong>{{ entry.tbracket }}</strong></td>
				<td>{{ _regionList[0].name }}</td>
				<td>{{ entry.orig_team_a }}</td>
				<td>{{ entry.team_a || '**OUT**'}}</td>
				<td><a [routerLink]="['/brackets', entry.tbracket_id]" [fragment]="_regionList[0]-1">{{ entry.next_team_a }}</a></td>
			</tr>
			<tr>
				<td></td>
				<td>{{ _regionList[1].name }}</td>
				<td>{{ entry.orig_team_b }}</td>
				<td>{{ entry.team_b || '**OUT**'}}</td>
				<td><a [routerLink]="['/brackets', entry.tbracket_id]" [fragment]="_regionList[1]-1">{{ entry.next_team_b }}</a></td>
			</tr>
			<tr>
				<td></td>
				<td>{{ _regionList[2].name }}</td>
				<td>{{ entry.orig_team_c }}</td>
				<td>{{ entry.team_c || '**OUT**'}}</td>
				<td><a [routerLink]="['/brackets', entry.tbracket_id]" [fragment]="_regionList[2]-1">{{ entry.next_team_c }}</a></td>
			</tr>
			<tr>
				<td></td>
				<td>{{ _regionList[3].name }}</td>
				<td>{{ entry.orig_team_d }}</td>
				<td>{{ entry.team_d || '**OUT**'}}</td>
				<td><a [routerLink]="['/brackets', entry.tbracket_id]" [fragment]="_regionList[3]-1">{{ entry.next_team_d }}</a></td>
			</tr>
		</tbody>
	</div>
</div>
</div>  -->

<br>

<!-- UNCOMMENT THIS PRE REGISTRATION PERIOD -->
<div class="text-center">
	<br>
	<h5 class="font-italic text-muted">** Teams will be assigned by Thursday, March 18, 2021, at 10am CST **</h5>
	<small>Check back then to see which brackets your entries were assigned (4 teams, 1 per Region, assigned to each entry)</small>
</div>