<!--roster.component.html-->
<h4>My Teams</h4>

<div class="container">
	<div class="row border-bottom border-top">
		<div class="col col-sm-1"><strong>Bracket</strong></div>
		<div class="col col-sm-2"><strong>Region</strong></div>
		<div class="col col-sm-2"><strong>Original Teams</strong></div>
		<div class="col col-sm-2"><strong>Active Team(s)</strong></div>
		<div class="col col-sm-4"><strong>Next Game</strong></div>
	</div>
	<ng-container *ngIf="_entryList && _entryList.length">
		<div class = "row border-bottom" *ngFor = "let entry of _entryList">
			<div class="col align-self-center col-sm-1">
				<div class="col text-primary text-pointer" (click)="sendToBracket(entry.tbracket)">
					<strong>{{ entry.tbracket }}</strong>
				</div>
			</div>
			<div class="col col-sm-2">
				<div class="col">South</div>
				<div class="col">West</div>
				<div class="col">East</div>
				<div class="col">Midwest</div>
			</div>
			<div class="col col-sm-2">
				<div class="col">{{ entry.orig_team_a }}</div>
				<div class="col">{{ entry.orig_team_b }}</div>
				<div class="col">{{ entry.orig_team_c }}</div>
				<div class="col">{{ entry.orig_team_d }}</div>
			</div>
			<div class="col col-sm-2">
				<div class="col">{{ entry.team_a || '**OUT**'}}</div>
				<div class="col">{{ entry.team_b || '**OUT**'}}</div>
				<div class="col">{{ entry.team_c || '**OUT**'}}</div>
				<div class="col">{{ entry.team_d || '**OUT**'}}</div>
			</div>
			<div class="col col-sm-4">
				<div class="col"><app-team-nextup *ngIf = "entry.team_a; else not_applicable" 
					[bracket]="entry.tbracket_id" [team]="entry.team_a_id"></app-team-nextup></div>
				<div class="col"><app-team-nextup *ngIf = "entry.team_b; else not_applicable" 
					[bracket]="entry.tbracket_id" [team]="entry.team_b_id"></app-team-nextup></div>
				<div class="col"><app-team-nextup *ngIf = "entry.team_c; else not_applicable" 
					[bracket]="entry.tbracket_id" [team]="entry.team_c_id"></app-team-nextup></div>
				<div class="col"><app-team-nextup *ngIf = "entry.team_d; else not_applicable" 
					[bracket]="entry.tbracket_id" [team]="entry.team_d_id"></app-team-nextup></div>
				<ng-template #not_applicable>N/A</ng-template>
			</div>
		</div>
	</ng-container>
	<ng-container *ngIf="!(_entryList && _entryList.length)">
		<br>
		<p class="font-italic">No Teams Assigned Yet!</p>
	</ng-container>
</div>
