/* You can add global styles to this file, and also import other style files */
/******3rd party packages******/


/*Separate CSS style sheet for bracket rendering*/
@import './styles/brackets.css';


/*CUSTOM STYLES BELOW TO APPLY ON TOP OF ABOVE IMPORTS*/

/*Add space between nav pills - Standings page*/
.nav-pills > li {
  margin-right: 40px;
}

/*.nav-item > li {
  margin-left: 0px;
  margin-right: 40px;
}*/

/* Added to increase space between navbar elements*/
.navbar-text {
	font-size: 10px;
	padding-right: 10px;
}

/*Add white underline to clicked navbar element*/
.navbar-nav > li {
  float: left;
  position: relative;
  margin-left: 20px;
  padding-left: 0px;
  /*font-size: 20px;*/
}
.navbar-dark .navbar-nav .active a::after {
  border-bottom: 5px solid #ffffff;
  bottom: -5px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}

.navbar.center .navbar-collapse .navbar-nav {
    display:inline-block;
    float: none;
}

/*To decrease height of bottom navbar*/
.navbar.footer {
  min-height:12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/*And center the text height wise*/
.navbar-text.footer {
  padding-top: 0px;
  padding-bottom: 0px;
}

/*To modify font size of navbar drop-down menu items*/
.dropdown-menu {
    font-size: 10px;
  }


/*To turn cursor into a pointer, so user sees an element can be clicked*/
/*e.g. for pendil edit icon on Roster page*/
.cursor-pointer{
  cursor: pointer;
}

/*To turn any text into a=href click to navigate ui*/
/*e.g. for bracket names on User Profile*/
.text-pointer{
  cursor: pointer;
}

.text-pointer:hover{
  text-decoration: underline;
}

/*For top margin on table or grid rows*/
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

/*For applying a custom width to buttons*/
.custom {
    width: 78px !important;
}

/*For making non Form elements look like Form input elements*/
/*Used on Update Game Form*/
.non-form-element {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
}

