/* You can add global styles to this file, and also import other style files */
/******3rd party packages******/


/*Separate CSS style sheet for bracket rendering*/
@import './styles/brackets.css';


/*CUSTOM STYLES BELOW TO APPLY ON TOP OF ABOVE IMPORTS*/

/*Styling changes for mobile vs. laptop screens*/

@media all and (max-width: 991px) {
    .container {
      /* Occupy full width of screen */
       max-width: 100%; 
    }
    body {
      /*Make font size smaller for mobile*/
      font-size:x-small;

    }
    /*Adjust bracket cell height on mobile*/
    li.game-top {
      height: 12px;
    }
    li.game-bottom {
      height: 12px;
    }
}

@media all and (min-width: 992px) {
    body {
      font-size:small;
    }
    li.game-top {
      height: 20px;
    }
    li.game-bottom {
      height: 20px;
    }
}



/*General body style*/
body{
  font-family:sans-serif;
}

/*Styling of text in navbar, e.g. Hi, Paul!*/
.navbar-text {
	font-size: 10px;
	padding-right: 10px;
}

/*Add white underline to clicked navbar element*/
.navbar-nav > li {
  float: left;
  position: relative;
  margin-left: 20px;
  padding-left: 0px;
  /*font-size: 20px;*/
}
.navbar-dark .navbar-nav .active a::after {
  border-bottom: 5px solid #ffffff;
  bottom: -5px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}

.navbar.center .navbar-collapse .navbar-nav {
    display:inline-block;
    float: none;
}

/*To decrease height of bottom navbar*/
.navbar.footer {
  min-height:12px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/*And center the text height wise*/
.navbar-text.footer {
  padding-top: 0px;
  padding-bottom: 0px;
}

/*To modify font size of navbar drop-down menu items*/
.dropdown-menu {
    font-size: 10px;
  }

/*Add space between nav pills - Standings page*/
.nav-pills > li {
  margin-right: 40px;
}

/*To turn cursor into a pointer, so user sees an element can be clicked*/
/*e.g. for pendil edit icon on Roster page*/
.cursor-pointer{
  cursor: pointer;
}

/*To turn any text into a=href click to navigate ui*/
/*e.g. for bracket names on User Profile*/
.text-pointer{
  cursor: pointer;
}

.text-pointer:hover{
  text-decoration: underline;
}

/*For top margin on table or grid rows*/
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

/*For applying a custom width to buttons*/
.custom {
    width: 78px !important;
}

/*For making non Form elements look like Form input elements*/
/*Used on Update Game Form*/
.non-form-element {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
}

/*On Brackets page, remove padding around navbar class to be consisistent*/
/*with nav-pills spacing on Standings Page*/
.brackets-nav .navbar{
  padding: 0;
}

.loader {
  height:100%;
  width:100%;
  /*background:url('../static/front-end/assets/bball_loading.gif') no-repeat center center;*/
  background:url('./assets/bball_loading.gif') no-repeat top left;
  position:absolute;
  z-index:10;
  opacity: 0.75;
}

/*Styles for Profile - My Teams table*/
#my-teams th {
  border-top:1px solid black;
  border-bottom:1px solid black;
}

#my-teams tr td {
  padding-top:1px;
  padding-bottom:1px;
}